<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>{{message}}</h2>
        <h3>Give this pet a loving home!</h3>
        <form>
            <div class="petPage">
                <img ng-src="{{animal.media.photos.photo[2].$t}}" class="responsive">
                <h2>{{animal.name.$t}}</h2>
                <p>Breed: {{animal.breeds.breed.$t}}</p>
                <p>Age: {{animal.age.$t}}</p>
                <p>Gender: {{animal.sex.$t}}</p>
                <p>Shelter ID: {{animal.shelterId.$t}}</p>
                <p>Shelter Address: {{animal.contact.address1.$t}}, {{animal.contact.city.$t}},
                    {{animal.contact.state.$t}} {{animal.contact.zip.$t}}</p>
                <p>Shelter email: {{animal.contact.email.$t}}</p>
                <p>Shelter Phone: {{animal.contact.phone.$t}}</p>
                <div class="petInfo">
                    <p>Description: {{animal.description.$t}}</p>
                </div>
            </div>

            <button class="btn btn-default" ng-click="addPerson()">Add to Favorites</button>
        </form>

        <h3>Your Favorites</h3>
        <div ng-repeat="person in people">
            <p>{{person}}</p>
        </div>
    </div>

</div>