<!DOCTYPE html>
<html>
<body>
<div class="find-pet">

    <h2>Find a Pet</h2>
        <form>
            <select ng-model="animal" ng-change="storeAnimal()">
                <option value="dog">Dogs</option>
                <option value="cat">Cats</option>
                <option value="bird">Birds</option>
                <option value="horse">Horses</option>
                <option value="reptile">Scales, Fins & Other</option>
                <option value="pig">Pigs</option>
                <option value="barnyard">Barnyard</option>
            </select>
            <br><br>
            <div class="pet-image"><img ng-src="{{animal.media.photos.photo[2].$t}}" class="random-pet-image"></div>

<div class="pet-data">

    <h3>{{animal.name.$t}}</h3>
    <p>Breed: {{animal.breeds.breed.$t}}</p>
    <p>Age: {{animal.age.$t}}</p>
    <p>Gender: {{animal.sex.$t}}</p>
    <p>Shelter ID: {{animal.shelterId.$t}}</p>
    <p>Shelter Address: {{animal.contact.address1.$t}}, {{animal.contact.city.$t}},
        {{animal.contact.state.$t}} {{animal.contact.zip.$t}}</p>
    <p>Shelter email: {{animal.contact.email.$t}}</p>
    <p>Shelter Phone: {{animal.contact.phone.$t}}</p>

    <p>Description: {{animal.description.$t}}</p>


            <button class="btn btn-default" ng-click="addFavorites(animal)">Add to Favorites</button>

        </form>
</div>
</body>
</html>